body h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif
}

body header{
    background-color: #FF7233;
    height: 50px;
}
body{
    background-color: snow;
}

footer {
    background-color: #F8F0E3;
    clear: both;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}
footer p {
    text-align: center;
    color: black;
    padding: 1em 0;
    font-family: "Times New Roman", Times, serif
}